exportPattern("^([^.]|\\..+\\.)")
useDynLib(Hmisc)

import(methods)
import(stats)
import(survival)
import(Formula)
import(grid)
import(lattice)

importFrom(acepack, ace, avas)
importFrom(latticeExtra, useOuterStrips, resizePanels)
importFrom(cluster, clara)
importFrom(foreign, read.dta, lookup.xport, read.spss, read.xport)
importFrom(nnet, multinom)
importFrom(rpart, rpart, rpart.control)
# importFrom(tables, tabular, table_options)

S3method(print, spower)
S3method(print, Quantile2)
S3method(plot, Quantile2)
S3method(plot, summaryP)
S3method(plot, summaryS)
S3method(label, default)
S3method(label, data.frame)
S3method('label<-', default)
S3method('label<-', data.frame)
S3method('[', labelled)
S3method(print, labelled)
S3method(label, Surv)
S3method(units, default)
S3method(units, Surv)
